USE [master]
GO
/****** Object:  Database [Shopee]    Script Date: 3/25/2026 10:44:31 AM ******/
CREATE DATABASE [Shopee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shopee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Shopee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shopee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Shopee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shopee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shopee]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/25/2026 10:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [varchar](10) NOT NULL,
	[categoryName] [nvarchar](255) NOT NULL,
	[describe] [nvarchar](255) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/25/2026 10:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[totalMoney] [decimal](10, 2) NOT NULL,
	[userId] [varchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/25/2026 10:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[detailID] [int] IDENTITY(1,1) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[detailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/25/2026 10:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](255) NOT NULL,
	[image] [nvarchar](255) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[soldQuantity] [int] NOT NULL,
	[describe] [nvarchar](255) NOT NULL,
	[categoryID] [varchar](10) NOT NULL,
	[importDate] [date] NULL,
	[usingDate] [date] NULL,
	[status] [int] NULL,
	[sellerID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 3/25/2026 10:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[imageId] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NULL,
	[imageUrl] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[imageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/25/2026 10:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleID] [int] NOT NULL,
	[roleName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/25/2026 10:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [varchar](50) NOT NULL,
	[fullName] [nvarchar](255) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[roleID] [int] NOT NULL,
	[address] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](255) NULL,
	[avatar] [nvarchar](255) NULL,
	[activate] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([categoryID], [categoryName], [describe]) VALUES (N'C001', N'Thời Trang Nam', N'')
INSERT [dbo].[Category] ([categoryID], [categoryName], [describe]) VALUES (N'C002', N'Điện Thoại Và Phụ Kiện', NULL)
INSERT [dbo].[Category] ([categoryID], [categoryName], [describe]) VALUES (N'C003', N'Thiết Bị Điện Tử', NULL)
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [date], [totalMoney], [userId], [status]) VALUES (1, CAST(N'2024-08-03' AS DateTime), CAST(132131.00 AS Decimal(10, 2)), N'U002', N'Chờ xác nhận')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDetail] ([price], [quantity], [orderID], [productID], [status]) VALUES (CAST(31212.00 AS Decimal(10, 2)), 1, 1, 2, N'Chờ xác nhận')
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productID], [productName], [image], [price], [quantity], [soldQuantity], [describe], [categoryID], [importDate], [usingDate], [status], [sellerID]) VALUES (1, N'Áo thun nam cottonggg', N'ao_thun_nam.jpg', CAST(153412.00 AS Decimal(10, 2)), 1233, 8, N'Áo thun nam thoáng mát', N'C001', CAST(N'2023-09-01' AS Date), NULL, 1, N'U006')
INSERT [dbo].[Product] ([productID], [productName], [image], [price], [quantity], [soldQuantity], [describe], [categoryID], [importDate], [usingDate], [status], [sellerID]) VALUES (2, N'Quần jean nam', N'quan_jean_nam.jpg', CAST(350000.00 AS Decimal(10, 2)), 30, 100, N'Quần jean phong cách', N'C001', CAST(N'2023-09-05' AS Date), NULL, 1, N'U006')
INSERT [dbo].[Product] ([productID], [productName], [image], [price], [quantity], [soldQuantity], [describe], [categoryID], [importDate], [usingDate], [status], [sellerID]) VALUES (3, N'Iphone 14', N'iphone14.jpg', CAST(2.00 AS Decimal(10, 2)), 88, 65, N'Kích thước màn hình: 6.1 inches	Công nghệ màn hình:OLED', N'C002', CAST(N'2023-10-10' AS Date), NULL, 1, N'U006')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Role] ([roleID], [roleName]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([roleID], [roleName]) VALUES (2, N'customer')
INSERT [dbo].[Role] ([roleID], [roleName]) VALUES (3, N'staff')
GO
INSERT [dbo].[User] ([userID], [fullName], [username], [password], [roleID], [address], [phone], [email], [avatar], [activate]) VALUES (N'U001', N'System Admin', N'admin', N'pbkdf2$120000$WFAj2KiyQeNXZ0YrmtrhUA==$iVNK8wmm934gYu7xEhdp0NmxqclIAwI8JqBzcsaRK2o=', 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[User] ([userID], [fullName], [username], [password], [roleID], [address], [phone], [email], [avatar], [activate]) VALUES (N'U002', N'Pham Thi Huyen', N'huyen', N'pbkdf2$120000$WFAj2KiyQeNXZ0YrmtrhUA==$iVNK8wmm934gYu7xEhdp0NmxqclIAwI8JqBzcsaRK2o=', 2, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[User] ([userID], [fullName], [username], [password], [roleID], [address], [phone], [email], [avatar], [activate]) VALUES (N'U003', N'Tuan Bon', N'bon', N'pbkdf2$120000$WFAj2KiyQeNXZ0YrmtrhUA==$iVNK8wmm934gYu7xEhdp0NmxqclIAwI8JqBzcsaRK2o=', 2, NULL, NULL, NULL, NULL, 0)
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Seller] FOREIGN KEY([sellerID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Seller]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([roleID])
REFERENCES [dbo].[Role] ([roleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
